// Estilos de publicidad
.advertisement {
    padding: 50px 20px;
    text-align: center;
    background-color: $secondary-color;
    color: #fff;
  
    h2 {
      margin-bottom: 20px;
    }
  }